.userDashboard {
  padding: 20px;
  font-family: "Cairo";
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;

  h1 {
    text-align: center;
    font-size: 27px;
    margin-bottom: 0;
  }

  h2 {
    color: #555;
    margin-bottom: 15px;
  }

  .filterContainer {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;

    .filterInput {
      width: 100%;
      max-width: 400px;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 16px;
      font-family: "Cairo";
      outline: none;

      &::placeholder {
        color: #888;
      }
    }
  }

  .profitGraph {
    margin: 3rem 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .graphContainer {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }

  .profitGraph {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .userDashboardTable {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    th,
    td {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #f4f4f4;
      color: black;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    .contactButton {
      background-color: #28a745;
      color: white;
      border: none;
      font-family: "Cairo";
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #5abc71;
      }
    }

    .status {
      font-weight: bold;

      &.confirmed {
        color: #28a745;
      }

      &.pending {
        color: #ffc107;
      }

      &.cancelled {
        color: #dc3545;
      }
    }
  }

  .noResults {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
  }

  @media (max-width: 800px) {
    padding: 10px;

    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 16px;
    }

    .filterContainer {
      margin-bottom: 1rem;

      .filterInput {
        font-size: 14px;
        padding: 8px;
      }
    }

    .graphContainer {
      flex-direction: column;
      gap: 10px;
    }

    .profitGraph {
      margin: 1rem 0;
      padding: 10px;
    }

    .userDashboardTable {
      th,
      td {
        padding: 5px;
        font-size: 9px;
      }

      .contactButton {
        padding: 3px 6px;
        font-size: 9px;
      }
    }

    .noResults {
      font-size: 16px;
    }
  }
}
